/* below this note is the code meant for the website main page */

#website-name {
    font-size: 50px;
    font-weight: bold;
    background-color: olivedrab;
    text-align: center;
}

#welcome-text {
    text-align: center;
    font-size: 24px;
}

#catchfrase-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: auto;
}

.recipe-acess{
    color: black;
    font-size: 20px;
}

#asta-bombado {
    float: right;
    height:600px;
    width: auto;
}

/*below this note is the code meant for all the website pages */
.macros {
    font-weight: bold;
    color:brown;
}

* {
    background-color: rgb(207, 207, 158);
}

h1 {
    background-color: olivedrab;
}

h2 {
    background-color: yellowgreen;
}

button {
    color:white;
    background-color: black;
}

button a {
    color:white;
    background-color: black;
}
